{% extends 'base.html.twig' %}

{% block title %}Index
{% endblock %}

{% block body %}

	{% if not app.user %}
		<div style="text-align:center">
			<h1>Vous n'êtes pas connecté</h1>
			<h2>Page visible par tous les utilisateurs</h2>
			<h3>Page d'accueil pour les utilisateurs non connecté</h3>
			<h4>Veuillez vous connecter pour voir les opérations etc..</h4>
		</div>
	{% else %}
		<div>
			<h1 style="text-align:center">Vous êtes connecté</h1>
		</div>
	{% endif %}

{% endblock %}
